@import url(https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Fleur+De+Leah&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #292929;
  --purple: #6b3a8a;
  --light-grey: #b0b0b0;
}

header, footer {
  background-color: var(--light-grey);
  color: var(--purple);
}

body {
  background-color: var(--dark-grey);
  color: var(--light-grey);
  font-family: 'Gideon Roman', 'Playfair Display', serif;
}

ul {
  list-style: none;
  text-decoration: none;
}

a, a:hover {
  color: var(--purple);
}

h1, h2 {
  font-family: 'Fleur De Leah', serif;
}

.featured-site-name {
  position: absolute;
  top: 45px;
  background-color: var(--purple);
  color: var(--light-grey);
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Beau Rivage', serif;
}

.site-name {
  background-color: var(--purple);
  color: var(--light-grey);
  font-size: 1.5rem;
  font-family: 'Beau Rivage', serif;
}

.site-name:hover {
  background-color: var(--purple);
  color: var(--light-grey);
}